@model IEnumerable<Case>
@{
    ViewData["Title"] = "Cases";
}

<a  class="btn btn-primary btn-lg mt-3 mb-3" asp-controller="Case" asp-action="CreateCases"> <i class="bi bi-plus-circle-dotted"></i> &nbsp; Add new Case</a>

<table class="table table-hover">
    <thead>
        <th scope="col">BeginDate</th>
        <th scope="col">EndDate</th>
        <th scope="col">Status</th>
        <th scope="col">Description</th>
        <th scope="col">Agents</th>
        <th scope="col">Suspects</th>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr class="table-active">
                <td>@obj.BeginDate</td>
                <td>@obj.EndDate</td>
                <td>@obj.Status</td>
                <td>@obj.Description</td>
                <td>@obj.Agents</td>
                <td>@obj.Suspects</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Case" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2"> 
                            <i class="bi bi-pencil-fill"> </i> &nbsp; Edit</a>
                        <a asp-controller="Case" asp-action="DeleteCases" asp-route-id="@obj.Id" class="btn btn-danger mx-2"> 
                            <i class="bi bi-trash-fill"></i> &nbsp; Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
